* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: whitesmoke;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(109, 109, 109);
    padding: 4vw;
}

/* Contenedor del título */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bordr: 2px solid #333;
    border-radius: 15px;
    padding: 15px 20px;
    background: linear-gradient(
    to right, 
    #2b0000 0%,    /* Vinotinto casi negro (sombra profunda) */
    #5a0001 30%,   /* Vinotinto base */
    #a50000 45%,   /* Rojo sangre claro */
    #ff4d4d 50%,   /* Reflejo de luz máximo (brillo rosáceo/blanco) */
    #a50000 55%,   /* Rojo sangre claro */
    #5a0001 70%,   /* Vinotinto base */
    #2b0000 100%   /* Vinotinto casi negro */
  );

  /* Añade profundidad visual para que parezca una placa metálica real */
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
    margin-bottom: 20px;
}

.header img {
    width: 20vw;
    height: auto;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 10vw;
}

/* Contenedor principal */
.main {
    display: flex;
    width: 100%;
    min-height: 400px;
    gap: 10px;
}

/* Cuadro derecho (70%) */
.content {
    width: 80%;
    background: linear-gradient(
    to right, 
    #2b0000 0%,    /* Vinotinto casi negro (sombra profunda) */
    #5a0001 30%,   /* Vinotinto base */
    #a50000 45%,   /* Rojo sangre claro */
    #ff4d4d 50%,   /* Reflejo de luz máximo (brillo rosáceo/blanco) */
    #a50000 55%,   /* Rojo sangre claro */
    #5a0001 70%,   /* Vinotinto base */
    #2b0000 100%   /* Vinotinto casi negro */
  );

  /* Añade profundidad visual para que parezca una placa metálica real */
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
    padding: 3vw;
    margin: auto;
}

.content h2 {
    font-size: 4vw;
}

.content p {
    font-size: 3vw;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Cuando el elemento es visible */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.content img {
    border: 1px solid black;
    width: 80%;
        border-radius: 40px;
    padding: auto;
    margin: 5vw
}

.content video {
    border: 1px solid black;
    width: 80%;
        border-radius: 40px;
    padding: auto;
    margin: 5vw
}