
/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
        borer: 1px solid black;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(204, 204, 204);
    padding: 4vw;
}

/* Contenedor del título */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bordr: 2px solid #333;
    border-radius: 15px;
    padding: 15px 20px;
    background: linear-gradient(
    45deg, 
    #5d4037 0%,    /* Marrón café profundo (sombra) */
    #8d6e63 25%,   /* Marrón medio */
    #d7ccc8 45%,   /* Beige claro (transición) */
    #f5f5f5 50%,   /* Reflejo de luz blanca/crema (brillo nítido) */
    #d7ccc8 55%,   /* Beige claro */
    #a1887f 75%,   /* Marrón suave */
    #5d4037 100%   /* Marrón café profundo */
  );

  /* Asegura que el gradiente ocupe todo el fondo */
  background-size: cover;

  /* Añade un sutil efecto de viñeta para resaltar el brillo central */
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.header img {
    width: 20vw;
    height: auto;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 10vw;
}

/* Contenedor principal */
.main {
    display: flex;
    width: 100%;
    min-height: 400px;
    gap: 10px;
}

/* Cuadro derecho (70%) */
.content {
    width: 80%;
    background: linear-gradient(
    45deg, 
    #5d4037 0%,    /* Marrón café profundo (sombra) */
    #8d6e63 25%,   /* Marrón medio */
    #d7ccc8 45%,   /* Beige claro (transición) */
    #f5f5f5 50%,   /* Reflejo de luz blanca/crema (brillo nítido) */
    #d7ccc8 55%,   /* Beige claro */
    #a1887f 75%,   /* Marrón suave */
    #5d4037 100%   /* Marrón café profundo */
  );

  /* Asegura que el gradiente ocupe todo el fondo */
  background-size: cover;

  /* Añade un sutil efecto de viñeta para resaltar el brillo central */
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.3);
    padding: 3vw;
    margin: auto;
}

.content h2 {
    font-size: 4vw;
}

.content p {
    font-size: 3vw;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Cuando el elemento es visible */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.content img {
    border: 1px solid black;
    width: 80%;
        border-radius: 40px;
    padding: auto;
    margin: 5vw
}

.content video {
    border: 1px solid black;
    width: 80%;
        border-radius: 40px;
    padding: auto;
    margin: 5vw
}